.producto_product {
  padding: 60px;
  color: black;
  display: flex;
  flex-direction: row;    
  text-align: center;
  justify-content: center;
}

.producto_title{
  padding-top: 34px;
}

.head {
  display: flex;
  justify-content: center;
}

.imagen {
  width: 400px;
  height: 400px;
}

input {
  width: 60px;
  height: 25px;
}

.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  width: 500px;
}

.makeStyles-root-1 {
  max-width: 500px;
  margin-right: 120px;
}

.makeStyles-media-2 {
  height: 51px;
}


