.producto_product {
  padding: 60px;
  display: flex;
  justify-content: center;
}

.producto_titulo{
  text-align: left;
}

.producto_imagenList{
  padding: 10px;
  margin: 30px;
  cursor: pointer;
  border-right: 1px solid grey;
}

.producto_imagen{
  margin: 36px;

}

.producto_info{
  margin: 30px;
  width: 500px;

}

.producto_description{
  padding-top: 30px;
  padding-bottom: 40px;
}

.product_price{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 317px;
}

.producto_input{
  width: 95px;
  height: 46px;
  font-size: 21px;
  align-items: center;
}

.producto_cantidad{
  padding-bottom: 10px;
}

.product_carrito{
  margin: 71px;
}
