.recommend_card{
    border-style: double;
    width: 300px;
    padding: 16px;
    margin: 48px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background: linear-gradient(135deg, #e5e7eb 0%,#c8ccd3 100%);
}

.recomend_todo{
    height: 500px;
    background: linear-gradient(135deg, #fad961 0%,#fff400 100%);
    padding: 32px;
    color: black;
}

.recommend_cards{
    display: flex;
}