
#review_form{
    margin-top: 32px;
}

.review_todo{
    width: 44%;
    margin-left: 37px;
    margin-top: 36px;
    margin-right: 61px;
}

.review_ranking{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    color:#242710
}


