.home-productos{    
    text-align: center;
}

.ui.cards>.card {
    display: flex;
    margin: .875em .5em;
    float: none;
    margin-right: 72px;
    margin-top: 60px;
}

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== VARIABLES CSS =====*/


/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CARD =====*/
.container {
  /* height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; */
  margin-top: 2rem;
}

.card {
  height: 360px !important;
  max-width: 320px !important;
  min-width: 320px !important;
  background: linear-gradient(135deg, #C56CD6 0%,#3425AF 100%) !important;
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: #E9EAEC;
  overflow-y: hidden;
  overflow: inherit;
  margin: 1.6rem !important;
}

.card__img {
  position: absolute;
  width: 260px;
  left: 25px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card__data {
  transform: translateY(13.2rem);
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  color: #F2A20C;
  margin-bottom: .5rem;
}

.signoPeso {
    color: #F2A20C;
    font-size: 1.8rem;
}

.card__preci {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card__description {
  font-size: 2rem;
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.contenedorBotones {
    display: flex;
    justify-content: space-around; 
}

.card__button {
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: yellow;
  color: #000000;
  border-radius: .5rem;
  font-weight: bolder;
  font-size: 1.6rem;
  transition: .2s;
  opacity: 0;
}

.card__button:hover {
  box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
}

.card__img, 
.card__data, 
.card__title, 
.card__preci, 
.card__description {
  transition: .5s;
}

.card:hover .card__img {
  transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.card:hover .card__data {
  transform: translateY(4.8rem);
}

.card:hover .card__title {
  transform: translateX(-2.3rem);
  margin-bottom: 0;
}

.card:hover .card__preci {
  transform: translateX(-6.8rem);
}

.card:hover .card__description, 
.card:hover .card__button {
  transition-delay: .2s;
  opacity: 1;
}
