.productlist-table{
    width:100%;
}

.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    width: 100%;
}

.list-cerrar{
    display: flex;
    flex-direction: column;
}

#list-buton{
    margin-left: auto;
    margin-bottom: 30px;
}

.ui.button {
    background: white;
    color: yellow;
    border-color: #E0FA02;
    background-color: black;
    border-style: solid;
}