.perfil{
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perfil__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border:1px solid rgb(0, 0, 0) ;
}

.perfil__logo{
  margin-top: 20px;
  margin-bottom: 20px;
  width:100px;
  object-fit: contain;
  background-color: black;
}
.perfil__container > h1{
  font-weight: 500;
  margin-bottom: 40px;
  background-color: black;
  color: white;
}
.perfil__container>form>h5{
  margin-bottom: 5px;
}
.perfil__container > form > h3 {
  height: 30px;
  margin-bottom: 40px;
  background-color: white;
  width: 98%;
  font-size: 2.75rem;
  font: -webkit-control;
}

.perfil__backtohome{
  background: black;
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-color: yellow;
}

.perfil__backtohome > h5{
  color: yellow;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
}


