.perfil__parent {
  background-color: #252E3B;
  height: 400px;
  display: flex;
}
h1 {
  margin: 0px;
  font-family: monospace;
}
.perfil__box-one {
  width: 35%;
  color: white;
  background-color: #252E3B;
  padding: 50px;
}
.perfil__box-one >h1 {
  height: 100px;
  width: 350px;
}
.perfil__box-two {
  width: 80%;
  background: linear-gradient(-57deg, #F0DA50 63%, #252E3B 42%);
  color: white;
}
.perfil__logo {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #F0DA50;
}
.perfil__image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: 27%;
}
.color-secondary, a {
  color: #F0DA50;
  text-decoration: none;
}




.perfil__container {
	position: relative;
	top: 23px;
	left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
}

table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: black;
}

th {
	text-align: left;
}

thead th{
	 
		background-color: #55608f;
	}


