.header-header{
    /* background-color: black;
    
    
    align-items: center;
    top: 0;
    z-index: 100;
    height: 70px;
    position: sticky;
    align-items: center; */
    background-color: black;
    height: 70px;
    position: sticky;
    align-items: center;
    top: 0;
    display: flex;
    z-index: 100;
    justify-content: space-between;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin-right:20px;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header__search{
    display: flex;
    /* flex: 1; */
    
}
.header__searchInput{
    display: flex;
    padding: 5px;
    border: none;
    width: 500px;
     margin-left: 100px; 
}

/* 

.header__nav{
    display: flex;
   justify-content: space-between;
} */


.header__optionBasket{
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-right: 100px;
}

.carritoSignIn {
    display: flex;
    align-items: center;
}
