.Home{
    display:flex;
    flex-direction: column;
    
}

.productos{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.tarjeta{
    margin: 17px;
}

.paginacion{
    align-self: center;

}

.content{
    display: flex;
    flex-direction: column;
}

.ui.card .content img, .ui.cards>.card .content img {
    align-self: center;
}



.btn-primary {
    color: black;
    border-color: black;
    background-color: transparent;
}
.ui.inverted.yellow.button, .ui.inverted.yellow.buttons .button {
    background-color: transparent;
    color: white;
    width: 120px;
}

.ui.inverted.yellow.button, .ui.inverted.yellow.buttons .button {
    background-color: transparent;
    box-shadow: 0 0 0 2px #ffe21f inset!important;
    color: black;
}

.ui.vertical.tabular.menu .active.item {
    background: yellow;
    color: black;
    border-color: black;
    margin: 0 -1px 0 0;
    border-radius: .28571429rem 0 0 .28571429rem!important;
}