.producto_product {
  padding: 60px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.head {
  display: flex;
  justify-content: center;
}

.imagen {
  width: 400px;
  height: 400px;
}

input {
  width: 60px;
  height: 25px;
}


